@font-face {
  font-family: "Droid Sans";
  src: url("../fonts/DroidSans/DroidSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Droid Sans";
  src: url("../fonts/DroidSans/DroidSans.ttf");
  font-weight: 400;
}
