@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Inter:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Work Sans", sans-serif;
}

body {
  @apply text-sm font-normal leading-none bg-base-100 text-base-content-100;
}

button,
input,
textarea {
  outline: none;
  border: none;
}

.box {
  @apply bg-base-200 border border-base-border-100 rounded-xl;
}

.overCoin {
  @apply bg-base-300;
}

.prev-icon path {
  @apply fill-black;
}

body[data-theme="dark"] .prev-icon path {
  @apply fill-gray-2;
}

body[data-theme="dark"] .map-svg path {
  @apply fill-[#58667E];
}

.trading-chart-scrollbar::-webkit-scrollbar {
  height: 2px;
  width: 100px;
  border-radius: 20px;
}
.trading-chart-scrollbar::-webkit-scrollbar-track {
  @apply bg-base-100;
}
.trading-chart-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-base-content-100 rounded-[20px];
}
