@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Inter:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./fonts.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Work Sans", sans-serif;
}

body {
  @apply text-sm font-normal leading-none bg-base-100 text-base-content-100 !overflow-x-hidden;
}

button,
input,
textarea {
  outline: none;
  border: none;
}

.box {
  @apply bg-base-200 border border-base-border-100 rounded-xl;
}

.overCoin {
  @apply bg-base-300;
}

.prev-icon path {
  @apply fill-black;
}

body[data-theme="dark"] .prev-icon path {
  @apply fill-gray-2;
}

body[data-theme="dark"] .map-svg path {
  @apply fill-[#58667E];
}

.trading-chart-scrollbar::-webkit-scrollbar {
  height: 2px;
  width: 100px;
  border-radius: 20px;
}
.trading-chart-scrollbar::-webkit-scrollbar-track {
  @apply bg-base-100;
}
.trading-chart-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-base-content-100 rounded-[20px];
}
.scrollbar-none::-webkit-scrollbar {
  width: 0;
}

.scrollbar-none {
  -ms-overflow-style: none;
}

.scrollbar-none {
  overflow: -moz-scrollbars-none;
}
.scrollbar-menu::-webkit-scrollbar {
  width: 1px;
}
.scrollbar-menu::-webkit-scrollbar-track {
  @apply bg-base-200;
}
.scrollbar-menu::-webkit-scrollbar-thumb {
  @apply bg-base-content-100;
}

.react-tooltip {
  @apply !bg-primary;
}

@keyframes gradientAnimation {
  0% {
    left: 0%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.box-in-work {
  --border-size: 6px;
  --border-angle: 0turn;
  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size:
    calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
