.wrapper {
  @apply w-full rounded-xl bg-base-200 border border-base-border-100 px-3 py-4 lg:touch-none h-full;
  font-family: Inter, sans-serif;
}

.header {
  @apply flex items-center justify-between gap-1 text-sm text-base-content-300 px-4 pb-4;
}

.coinTitle {
  @apply flex items-center gap-1;
}
.coinIconWrapper {
  @apply flex justify-center items-center p-1 w-5 h-5 rounded-md bg-base-300;
}

.chart {
  @apply pb-4 cursor-pointer;
}

.footer {
  @apply flex items-center justify-between gap-2 px-4 pt-4 border-t border-base-border-100 mt-auto;
  font-family: "Work Sans", sans-serif;
}

.wrapper.my .footer {
  @apply border-t-0;
}

.footer p {
  @apply text-lg font-medium text-base-content-200;
}

.changeCourse {
  @apply flex items-center gap-1 text-success text-lg font-medium;
}

.changeCourse svg path {
  @apply fill-success;
}

.changeCourse.decline {
  @apply text-red-500;
}

.changeCourse.decline svg {
  @apply rotate-180;
}

.changeCourse.decline svg path {
  @apply fill-red-500;
}
